<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Startup Success</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>


<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  

</head>

<body>
 <div class="login">
   
	<h1>Predict Startup Success</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">

      <input id="milestones" type="text" name="milestones" placeholder="Number of Milestones Achieved" required="required" /><br>
      <input id="relationships" type="text" name="relationships" placeholder="Number of Relationships" required="required" /><br>
      

      <h4> Industry Vertical </h4>
  
      <select name="industry_vertical">
        <option value="">Select...</option>
        <option value="$1">Web</option>
        <option value="$2">Software</option>
        <option value="$3">Consulting</option>
        <option value="$4">Gamesvideo</option>
        <option value="$5">Ecommerce</option>
        <option value="$6">Mobile</option>
        <option value="$7">Enterprise</option>
        <option value="$8">Cleantech</option>
        <option value="$9">Hardware</option>
        <option value="$10">Biotech</option>
        <option value="$11">Search</option>
        <option value="$12">Advertising</option>
        <option value="$13">Security</option>
        <option value="$14">Analytics</option>
        <option value="$15">Real Estate</option>
        <option value="$16">Tech</option>
      </select>

      <h4> Funding Rounds </h4>
  
      <select name="funding_rounds">
        <option value="">Select...</option>
        <option value="$1">0 to 1.0</option>
        <option value="$2">1.0 to 9.0 </option>
        <option value="$3">Above 9.0 </option>
      </select> 
      
      <h4> Investment Rounds </h4>
  
      <select name="investment_rounds">
        <option value="">Select...</option>
        <option value="$1">0.0 to 2.0</option>
        <option value="$2">Above 2.0 </option>
      </select> 

      <h4> Funding Total </h4>
  
      <select name="funding_total">
        <option value="">Select...</option>
        <option value="$1">$0.0 to $1.0 USD</option>
        <option value="$2">$1.0 to $3.0 USD</option>
        <option value="$3">$3.0 to $1,000,000.0 USD</option>
      </select> 

      <h4> Valuation Total </h4>
  
      <select name="valuation_amount">
        <option value="">Select...</option>
        <option value="$1">$38,599.0 to $96,750,000.0 USD</option>
        <option value="$2">$$96,750,000.0 to $315,000,000.0 USD</option>
        <option value="$3">$315,000,000.0 to $1,031,875,000.0 USD</option>
        <option value="$3">Above $1,031,875,000.0 USD</option>
      </select> 
      
      <h4> Total Raised Amount</h4>
  
      <select name="raised_amount">
        <option value="">Select...</option>
        <option value="$1">$0.0 to $64,250,000.0 USD</option>
        <option value="$2">$64,250,000.0 to $105,000,000.0 USD</option>
        <option value="$3">$105,000,000.0 to $224,575,000.0 USD</option>
        <option value="$4">Above $224,575,000.0 USD</option>
      </select>

      <h4> Office Location</h4>
  
      <select name="office_location">
        <option value="">Select...</option>
        <option value="$1">CA</option>
        <option value="$2">NY</option>
        <option value="$3">TX</option>
        <option value="$4">MA</option>
        <option value="$5">WA</option>
      </select>


      <input id="Series_A_Amount_FE" type="text" name="Series_A_Amount_FE" placeholder="Series A $ Amount (Dollars)" required="required" /><br>
      <input id="Series_B_Amount_FE" type="text" name="Series_B_Amount_FE" placeholder="Series B $ Amount (Dollars)" required="required" /><br>
      <input id="Series_C_Amount_FE" type="text" name="Series_C_Amount_FE" placeholder="Series C $ Amount (Dollars)" required="required" /><br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
 
   


 </div>
 {{pred}}

</body>
</html>