<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Startup Success</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
   
	<h1>Predict Startup Success</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="text" name="milestones" placeholder="Number of Milestones Achieved" required="required" /><br>
      <input type="text" name="relationships" placeholder="Number of Relationships" required="required" /><br>
    	<input type="text" name="Web?" placeholder="Is the Company in the Web Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Software?" placeholder="Is the Company in the Software Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Consulting?" placeholder="Is the Company in the Consulting Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Gamesvideo?" placeholder="Is the Company in the Gamesvideo Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Ecommerce?" placeholder="Is the Company in the Ecommerce Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Mobile?" placeholder="Is the Company in the Mobile Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Enterprise?" placeholder="Is the Company in the Enterprise Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Cleantech?" placeholder="Is the Company in the Cleantech Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Hardware?" placeholder="Is the Company in the Hardware Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Biotech?" placeholder="Is the Company in the Biotech Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Search?" placeholder="Is the Company in the Internet-Related Services Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Advertising?" placeholder="Is the Company in the Advertising Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Security?" placeholder="Is the Company in the Security Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Analytics?" placeholder="Is the Company in the Analytics Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Realestate?" placeholder="Is the Company in the Realestate Sector? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Tech?" placeholder="Is the Company Tech? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_rounds_bin1" placeholder="Funding Rounds Bin From -1.0 to 1.0 (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_rounds_bin2" placeholder="Funding Rounds Bin From 1.0 to 9.0 to 1.0 (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_rounds_bin3" placeholder="Funding Rounds Bin Above 9.0 (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="investment_rounds_bin1" placeholder="Investment Rounds From 0.0 to 2.0 (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="investment_rounds_bin2" placeholder="Investment Rounds Above 2.0 (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_total_usd_bin1" placeholder="Funding Total From -$1.0 to $1.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_total_usd_bin2" placeholder="Funding Total From $1.0 to $3.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_total_usd_bin3" placeholder="Funding Total From $3.0 to $1,000,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="funding_total_usd_bin4" placeholder="Funding Total Above $1,000,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="valuation_amount_bin1" placeholder="Valuation Amount From $38,599.0 to $96,750,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="valuation_amount_bin2" placeholder="Valuation Amount From $$96,750,000.0 to $315,000,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="valuation_amount_bin3" placeholder="Valuation Amount From $315,000,000.0 to $1,031,875,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="valuation_amount_bin4" placeholder="Valuation Amount Above $1,031,875,000.0 USD (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="raised_amount_bin1" placeholder="Total Raised Amount From -$1.0 to $64,250,000.0 USD? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="raised_amount_bin2" placeholder="Total Raised Amount From $64,250,000.0 to $1,050,000,000.0 USD? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="raised_amount_bin3" placeholder="Total Raised Amount From $105,000,000.0 to $224,575,000.0 USD? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="raised_amount_bin4" placeholder="Total Raised Amount Above $224,575,000.0 USD? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="CA" placeholder="Offices in CA? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="NY" placeholder="Offices in NY? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="TX" placeholder="Offices in TX? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="MA" placeholder="Offices in MA? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="WA" placeholder="Offices in WA? (1 = Yes, 0 = No)" required="required" /><br>
      <input type="text" name="Series_A_Amount_FE" placeholder="Series A $ Amount (Dollars)" required="required" /><br>
      <input type="text" name="Series_B_Amount_FE" placeholder="Series B $ Amount (Dollars)" required="required" /><br>
      <input type="text" name="Series_C_Amount_FE" placeholder="Series C $ Amount (Dollars)" required="required" /><br>



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>


